body {
  font-family: 'Roboto', sans-serif;
  background-color: #ededed;
}

.full-width {
  width: 100vw;
}

@media screen and (max-width: 500px) {
  .hero {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('../images/lunch-600w.jpg');
  }
}

@media screen and (min-width: 501px) and (max-width: 799px) {
  .hero {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('../images/lunch-800w.jpg');
  }
}

@media screen and (min-width: 800px) {
  .hero {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url('../images/lunch-1440w.jpg');
  }
}

.hero {
  background-size: cover;
  height: 92vh;
  position: relative;
}

@media screen and (max-width: 500px) {
  img {
    max-height: 40px;
    margin: 10px;
  }

  .logo-helper {
    font-size: 35px;
    top: 1px;
  }
}

@media screen and (min-width: 501px) {
  img {
    max-height: 70px;
    margin: 15px;
  }

  .logo-helper {
    font-size: 60px;
    top: 1px;
  }
}

.logo-helper {
  position: absolute;
  color: white;
  font-family: 'Inconsolata', sans-serif;
  font-weight: 500;
}

.motto-container {
  position: relative;
  top: 20vh;
  margin-left: 15px;
}

@media screen and (max-width: 600px) {
  .motto-major {
    font-size: 8vw;
  }

  .motto-minor {
    font-size: 6vw;
  }

  .responsive-text {
    font-size: 16px;
  }

  .responsive-h5-text {
    font-size: 18px;
  }
}

@media screen and (min-width: 601px) and (max-width: 799px) {
  .motto-major {
    font-size: 6vw;
  }

  .motto-minor {
    font-size: 4vw;
  }

  .responsive-text {
    font-size: 16px;
  }

  .responsive-h5-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
  .motto-major {
    font-size: 5vw;
  }

  .motto-minor {
    font-size: 3vw;
  }

  .responsive-text {
    font-size: 17px;
  }

  .responsive-h5-text {
    font-size: 22px;
  }
}

@media screen and (min-width: 1200px) {
  .motto-major {
    font-size: 60px;
  }

  .motto-minor {
    font-size: 36px;
  }

  .responsive-text {
    font-size: 18px;
  }

  .responsive-h5-text {
    font-size: 22px;
  }
}

.motto-major {
  font-weight: 700;
  color: white;
  margin-bottom: 0;
}

.motto-minor {
  font-weight: 500;
  color: white;
  margin-top: 0;
}

.sales-pitch {
  text-align: center;
}

form {
  margin-top: 30px;
}

button {
  display: inline-block;
  margin: 0 2em;
}

/* https://stackoverflow.com/a/36469842/1728563 */
#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 0;
  left: 40%;
}

hr.green-divider {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #009688 inset;
}

footer {
  position: relative;
}

.social-icon {
  position: relative;
  display: inline-block;
}

.tall-li {
  padding: 5px 0 5px 0;
}

img,
embed,
object,
video {
  max-width: 100%;
}

button {
  min-width: 48px;
  min-height: 48px;
}
